@using WhiteLotus
@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="@Url.Content("~/Content/images/favicon.ico")">
    <title>White Lotus Yoga</title>
    <link href="~/Content/css/vendor/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/vendor/bootstrap-switch.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/vendor/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/vendor/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/app/site.css" rel="stylesheet" type="text/css" />

    <script src="~/Scripts/vendor/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/vendor/jquery-2.1.4.js"></script>
    <script src="~/Scripts/vendor/bootstrap.js"></script>
    <script src="~/Scripts/vendor/slick.js"></script>
    <script src="~/Scripts/vendor/bootstrap-switch.js"></script>
    <script src="~/Scripts/app/site.js"></script>
    @RenderSection("head", false)
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                    <img src="@Url.Content("~/Content/images/header-logo.png")" style="height:50px" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (ViewBag.CurrentUser == null) {
                    @*<li><a href="@Url.Action("Register", "Session")">Register</a></li>*@
                    <li><a href="@Url.Action("Index", "Session")">Login</a></li> }
                    <li><a href="@Url.Action("Index","Booking")">Bookings</a></li>
                </ul>
                @if (ViewBag.CurrentUser != null) { 

                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user"></span><b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                @if (ViewBag.CurrentUser.isDeveloper)
                                {
                                    <li class="divider"></li>
                                    <li>
                                        <a href="@Url.Action("Manage","Users")">Manage Users</a>
                                    </li>
                                }
                                <li class="divider"></li>
                                <li>
                                    <a href="@Url.Action("ChangeOwnPassword", "Users")">Change Password</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Logout", "Session")">Logout</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div id="errors-container">
        @if (TempData.ContainsKey("error"))
        {
            <div class="container error">
                @TempData["error"]
                <button type="button" class="close">&times;</button>
            </div>
        }
    </div>

    <div id="notices-container">
        @if (TempData.ContainsKey("notice"))
        {
            <div class="container notice">
                @TempData["notice"]
                <button type="button" class="close">&times;</button>
            </div>
        }
    </div>
    <div class="container body-content">
        @RenderBody()

        <footer>
            <hr />
            <p>&copy; @DateTime.Now.Year - <strong>White Lotus</strong></p>
        </footer>
    </div>
    @RenderSection("foot", false)
</body>
</html>
